body {
	margin: auto;
	width: 700px;
	font-family:"Comic Sans", Comic Sans MS;
	font-size: 20px;
	color: #FFFF99;
	background-color: #000000;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center;
}

div.heading {
	display: block; 
	height:300px;
	width: 700px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden; 
    margin: 10px auto;
	background-image: url(pictures/heading.jpg);
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #000000;
	border-radius: 5px;
	text-align: center;
	vertical-align: center;
	font-family: "Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

div.buttons {
	display: block;
	width: 720px;
	height: 410px;
	position: relative;
	padding-top: 22px;
    background-image: url(pictures/chalkboard-background.jpg);
	background-size: 100% 100%;
	border-radius: 5px;
	font-family: "Comic Sans", Comic Sans MS;
	overflow-x: hidden;
	overflow-y: hidden scroll;
}

div.game {
	display: block;
	width: 720px;
	height: 410px;
	position: relative;
	padding-top: 22px;
    background-image: url(pictures/chalkboard-background.jpg);
	background-size: 100% 100%;
	border-radius: 5px;
	font-family: "Comic Sans", Comic Sans MS;
	overflow-x: hidden;
	overflow-y: hidden scroll;	
}
table {
	margin: 0 auto;

	width: 92%;
}
td {
    border-bottom: 2px dashed #FFFF99;
	padding: 10px;
	width: 50%;

}